<section id="events" class="section container">
  <h2>Events</h2>
  <div class="card">
    <h3>Upcoming events</h3>
    <ul>
      <li>Based in Peterborough, Ely or Cambridge?</li>
      <li> There are numerous upcoming events where we'd love to have you join us –
        select the ones you're interested in
        <a href="https://docs.google.com/forms/d/1iIugf9pBFsRtpzJqt1nrs1rIgOHQb0pADfruKFaDQfk/edit?usp=drivesdk" target="_blank" rel="noopener">in this link</a>
        and we'll connect with you.
      </li>
      <li> Also check out our social media for upcoming events postings,
      and find local events using
      <a href="https://www.eventbrite.co.uk/" target="_blank" rel="noopener">Eventbrite</a>.
      </li>
    </ul>
  </div>
</section>
